/* Look at the inspect function to figure out where 
change needs to be made on the website to figure out specific class change needs to be made
*/

h1{
    color:black;
}
.navbar{
    font-size: 15px;
}
.jumbotron{
    background-image: url("SF-background.jpg");
    background-size: cover;
}
body{
    font-family:helvetica;
}
.footer-menu{
    font-family:helvetica;
    font-size: 12px;
}
.container-fluid.col-sm-3{
    width: 50%;
    height: 50%;
}


